body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-tag{
    color: orange;
}
.flaxible-container{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
    
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 30px;
}

.experiance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    
}

.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}

#item-left{
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}

#item-right{
                border-image: linear-gradient(blue,cyan);
                border-image-slice: 1;
                border-left: 7px solid;
                
}

footer p{
    text-align: center;
    color: indigo;
}